---
import App from '../components/App.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="fixed left-0 top-0 -z-10 h-full w-full"><div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div></div> <!-- Background -->
	<main class='grid place-content-center min-h-screen w-screen text-white'>
		<h1 class='text-6xl opcatity-70 font-bold text-center pb-10'>Chat with your PDF</h1>
		<section class='container w-[1000px] max-w-xl h-64'>
			<App client:idle />
		</section>
	</main>
</Layout>
